<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
</head>
<body>
 <h1>All Articles</h1> 
 <%  for (let art of allArticles){ %>
 <%= art.title %>
 <%= art.body %>
 <%= art.numberOfLikes %>
 <br>
 <%}%>
</body>
</html>