<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world ejs <%=name%></h1>
    <div>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci perferendis tempore esse ratione laboriosam debitis.
    </div>
    <% if(name == "fati") {%>
        You are fz rahmoun
    <% } %>
</body>
</html>